{% extends 'base.html.twig' %}

{% block title %}Bingo {{ bingo.year }}{% endblock %}

{% block body %}

    <main>
        <h1>{{ bingo.title }} - {{ bingo.year }}</h1>

        <div class="bingo-grid">
            {% for item in bingo.bingoItems %}

                <div data-controller="bingo-cell"
                     data-action="click->bingo-cell#toggle"
                     data-bingo-cell-target="cell"
                     data-bingo-cell-url-value="{{ path('bingo_check', {id: item.id}) }}"
                     data-bingo-cell-active-value="{{ item.completedAt ? 'true' : 'false' }}"
                     data-position="{{ item.position }}"
                     class="{{ item.completedAt ? 'active' : '' }}">
                        {{ item.label }}
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
